/* nav style */

.open-sans-primary {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0 20px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

#nav-h3 {

    font-size: 40px;
    color: #333;
    font-weight: bold;
    margin: 0;
}

#nav-h3-r {
    color: orangered;
}

/* nav style */
/* share style */
.btn-primary {
    background-color: orangered;
    color: white;
    font-size: larger;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: black 1px 1px 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
}

/* header naner style */

.header {
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.header-content {

    margin: 100px;
    color: #fff;

}

.header h1 {
    font-size: 50px;
    color: #040404;
    font-weight: bold;
    margin: 0;
}

.header p {
    font-size: 20px;
    color: #010101;

}

/* avout section */
.about-section {
    text-align: center;
    margin: 130px auto;
    width: 70%;
    border-radius: 10px;
    padding: 50px;
    background-color: #FFF8F3;
    color: rgb(0, 0, 0);
}

.about-items {
    display: flex;
    justify-content: space-aroundj;
    align-items: center;

}

.item-discription {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}